:host /deep/ .popover {

  min-width: 25rem;
  text-align: center;
  font-size: 1rem;
}

:host /deep/ .popover-content {
  font-weight: bold;
}

#margen-pantalla {
  padding-left: 5px;
}
#margen-impresion{
  padding-right: 5px;
}

#tabla-cuadrantes {
  margin: 0px;
}

