<div class="row bordered align-items-center">
  <div class="col">
    <h4 class="display-4">BAJA ETAPA</h4>
  </div>
</div>


<form [formGroup]="form" (ngSubmit)="darDeBaja()" novalidate>
  <div class="card-pane">
    <div class="row">
      <div class="form-group col-lg-5 col-xl-5">
        <label for="txt_nombre_etapa">Nombre</label>
        <input type="text" id="txt_nombre_etapa" class="form-control" [value]="etapa.nombre" readonly>
      </div>
      <div class="col-lg-7 col-xl-7">
        <div class="well pull-right">
          <label for="fecha_actual">Fecha actual:</label>
          <span id="fecha_actual">
            {{ fechaActual | date:"dd/MM/yy" }}
          </span>
        </div>
      </div>
      <div class="form-group col-lg-12 col-xl-8">
        <label for="txt_descripcion_etapa">Descripción</label>
        <textarea id="txt_descripcion_etapa" class="form-control" type="text" rows="3" [value]="etapa.descripcion"
          readonly>
    </textarea>
      </div>
      <div class="col-lg-5 col-xl-5" [errorFeedback]="form.get('motivoBaja')">
        <label for="ddl_motivo_baja">Motivo baja</label>
        <select class="form-control" id="ddl_motivo_baja" formControlName="motivoBaja">
          <option value="" disabled>Seleccione...</option>
          <option *ngFor="let motivo of motivosBaja" [value]=motivo.id>
            {{motivo.descripcion}}
          </option>
          <control-messages [control]="form.get('motivoBaja')"></control-messages>
        </select>
      </div>
    </div>
  </div>
  <div class="row row-section">
    <div class="col">
      <div class="pull-right">
        <a [routerLink]="['/etapas']" class="btn btn-secondary separador-botones">CANCELAR</a>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">ACEPTAR
        </button>
      </div>
    </div>
  </div>
</form>
