.btn-accion {
  margin-left: 5px;
}

.button-row {
  margin-top: 15px;
}

.radio {
  text-align: center
}

.panel {
  margin-top: 15px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
