<div class="row align-items-center line-divider-bottom">
  <div class="col ml-auto">
    <h6>Actualizar datos</h6>
  </div>
</div>

<div class="card-pane" style="margin-top: 15px !important;">
  <!--ROW SELECCION SUCURSAL BANCARIA-->
  <div class="row">
    <div class="col">
      <bg-busqueda-sucursal-bancaria
        [bancoRequerido]="true"
        [sucursalRequerida]="true">
      </bg-busqueda-sucursal-bancaria>
    </div>
  </div>
  <!-- FIN ROW SUCURSAL BANCARIA-->
</div>
<!--<form [formGroup]="form" class="card-pane" style="margin-top: 15px !important;">
  <div class="row">
    <div class="col col-xl-6 col-lg-6"
         [errorFeedback]="form.get('idBanco')">
      <label for="cb_banco" class="form-control-label">Banco (*)</label>
      <ng-select id="cb_banco"
                 [dataSource]="{list: bancos, name:'valor', id:'clave'}"
                 formControlName="idBanco"
                 [clientMode]="true">
      </ng-select>
      <control-messages [control]="form.get('idBanco')"></control-messages>
    </div>

    <div class="col col-xl-6 col-lg-6"
         [errorFeedback]="form.get('idSucursal')">
      <label for="cb_sucursal" class="form-control-label">Sucursal (*)</label>
      <ng-select id="cb_sucursal"
                 [dataSource]="{list: sucursales, name:'valor', id:'clave'}"
                 formControlName="idSucursal"
                 [clientMode]="true">
      </ng-select>
      <control-messages [control]="form.get('idSucursal')"></control-messages>
    </div>
  </div>
</form>-->
<div class="row" style="margin-top: 15px;">
  <div class="col">
    <button type="button" class="btn btn-primary pull-right" [disabled]="!validarAceptar()"
            (click)="agregarSucursalFormularios()">ACEPTAR
    </button>
    <button type="button" class="btn btn-secondary pull-right separador-botones" (click)="volver()">{{esPrestamo ? 'CERRAR' : 'VOLVER'}}</button>
  </div>
</div>
