input {
  text-align: center;
}

.span-monto {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #7a7a7a;
  color: #ffffff;
}

.txt-monto {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.confirmacion {
  margin-bottom: 0px;
}

.alinear-texto {
  padding-top: 10px;
}
