<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="RELEASE" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="db:owner" value="BANCO_GENTE" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RutaDescargaLogo" value="LineasPrestamo/DescargarLogo" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="credenciales-api-documentos-cdd:id-app-origen" value="1019" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="credenciales-api-documentos-cidi:password" value="YmgbOSnfrlHOcdL" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="credenciales-api-documentos-cidi:key" value="AB8DWOOZLHQM1KLS80O96VCQB0CPFICA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sintys_organismo" value="DGBGCBA1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sintys_usuario" value="AKRAUPLMORG" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sintys_usuarioPassword" value="TMaq63dl6xwuZuw" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sintys_certificado" value="Resources/sintys.pfx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sintys_certificadoPassword" value="qwGKTHoW6w" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sintys_apiUrl" value="https://apisews.sintys.gob.ar/api/2.1/server.php" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProxyUrl" value="http://proxysrv.gobiernocba.gov.ar:8080" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="DB_BATCH"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP) (HOST=cba1.gobiernocba.gov.ar)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED) (SERVICE_NAME=CBA1)));User id=USR_BANCO_GENTE;Password=b4ncodesarroll4;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <cidi env="environment">
    <environments>
      <environment name="environment"
                   id_application="189"
                   client_secret="_bAnc0_g3Nte"
                   client_key="E6F585451646E71435478476772424E59706D7076"
                   env_prod="true"
                   xdt:Transform="Replace" xdt:Locator="Match(name)">
        <endpoints>
          <endpoint key="IniciarSesion" value="https://cidi.cba.gov.ar/Cuenta/Login" />
          <endpoint key="CerrarSesion" value="https://cidi.cba.gov.ar/Cuenta/CerrarSesion" />
          <endpoint key="CidiUrlApiCuenta" value="https://cuentacidi.cba.gov.ar/" />
          <endpoint key="CidiUrlApiComunicacion" value="https://comunicacioncidi.cba.gov.ar/" />
          <endpoint key="CidiUrlApiDocumentacion" value="https://documentacioncidi.cba.gov.ar/" />
          <endpoint key="CidiUrlApiMobile" value="https://mobilecidi.cba.gov.ar/" />
          <endpoint key="CidiUrlRelacion" value="https://cidi.cba.gov.ar/relacion/appseleccion" />
        </endpoints>
      </environment>
    </environments>
  </cidi>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>