<h1>EDICION MONTO DISPONIBLE</h1>

<form [formGroup]="form" novalidate>
  <div class="card-pane">
    <div class="row">
      <div class="form-group col-md-12 col-lg-12 col-xl-12" [errorFeedback]="form.get('descripcion')">
        <label for="txt_descripcion" class="form-control-label">Descripción <span class="obligatorio">(*)</span>:</label>
        <input type="text" id="txt_descripcion" formControlName="descripcion" class="form-control" >
        <control-messages [control]="form.get('descripcion')"></control-messages>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-md-4 col-lg-4 col-xl-4" [errorFeedback]="form.get('fechaDepositoBancario')">
        <label for="txt_fecha_deposito_bancario" class="col-form-label">Fecha depósito bancario <span class="obligatorio">(*)</span>:</label>
        <div class="input-group">
          <input id="txt_fecha_deposito_bancario" class="form-control" ngbDatepicker
            #fecha_deposito_bancario="ngbDatepicker" (click)="fecha_deposito_bancario.toggle()" placeholder="dd/mm/aaaa"
            formControlName="fechaDepositoBancario" />
          <control-messages [control]="form.get('fechaDepositoBancario')"></control-messages>
        </div>
      </div>

      <div class="form-group col-md-4 col-lg-4 col-xl-4" [errorFeedback]="form.get('fechaInicioPago')">
        <label for="txt_fecha_inicio_pago" class="col-form-label">Fecha inicio pago <span class="obligatorio">(*)</span>:</label>
        <div class="input-group">
          <input id="txt_fecha_inicio_pago" class="form-control" ngbDatepicker #fecha_inicio_pago="ngbDatepicker"
            (click)="fecha_inicio_pago.toggle()" placeholder="dd/mm/aaaa" formControlName="fechaInicioPago" />
          <control-messages [control]="form.get('fechaInicioPago')"></control-messages>
        </div>
      </div>

      <div class="form-group col-md-4 col-lg-4 col-xl-4" [errorFeedback]="form.get('fechaFinPago')">
        <label for="txt_fecha_fin_pago" class="col-form-label">Fecha fin pago <span class="obligatorio">(*)</span>:</label>
        <div class="input-group">
          <input id="txt_fecha_fin_pago" class="form-control" ngbDatepicker #fecha_fin_pago="ngbDatepicker"
            (click)="fecha_fin_pago.toggle()" placeholder="dd/mm/aaaa" formControlName="fechaFinPago" />
          <control-messages [control]="form.get('fechaFinPago')"></control-messages>
        </div>
      </div>
    </div>
    <!--ROW SELECCION SUCURSAL BANCARIA-->
    <div class="row">
      <div class="col">
        <bg-busqueda-sucursal-bancaria [banco]="montoDisponible.idBanco" [sucursal]="montoDisponible.idSucursal"
          [edicion]="true" [bancoRequerido]="true" [sucursalRequerida]="true">
        </bg-busqueda-sucursal-bancaria>
      </div>
    </div>
    <!-- FIN ROW SUCURSAL BANCARIA-->

    <div class="row monto-row">
      <div class="form-group col-md-3 col-lg-3 col-xl-3" [errorFeedback]="form.get('monto')">
        <label for="txt_monto" class="form-control-label">Monto <span class="obligatorio">(*)</span>:</label>
        <input type="text" id="txt_monto" formControlName="monto" class="form-control" >
        <control-messages [control]="form.get('monto')"></control-messages>
      </div>

      <div class="form-group col-md-3 col-lg-3 col-xl-3">
        <label for="txt_nro_monto" class="form-control-label">Número monto</label>
        <input type="text" id="txt_nro_monto" formControlName="nroMonto" class="form-control" disabled>
      </div>

    </div>
  </div>
</form>

<span>

</span>
<div class="row row-section">
  <div class="col">
    <div class="pull-right">
      <a [routerLink]="['/monto-disponible']" class="btn btn-secondary separador-botones">VOLVER</a>
      <button class="btn btn-primary" (click)="registrar()" [disabled]="!form.valid">ACEPTAR
      </button>
    </div>
  </div>
</div>
