<div class="row bordered align-items-center">
  <div class="col">
    <h1 class="display-4">NUEVO PERFIL</h1>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="aceptar()">
  <div class="card-pane">
    <div class="row row-section">
      <div class="form-group col-lg-4 col-xl-4 col-md-4" [errorFeedback]="form.get('nombre')">
        <label for="txt_nombre_programa" class="form-control-label">Nombre <span class="obligatorio">(*)</span>:</label>
        <input type="text" class="form-control" id="txt_nombre_programa" formControlName="nombre"
          placeholder="nombre" />
        <control-messages [control]="form.get('nombre')"></control-messages>
      </div>

      <div class="col-lg-4 col-xl-4 col-md-4">
        <label for="txt_fecha_inicio">Fecha inicio</label>
        <input type="text" id="txt_fecha_inicio" class="form-control" value="{{fechaActual | date:'dd/MM/yyyy'}}"
          readonly />
      </div>
    </div>
  </div>

  <div class="card-pane">
    <div class="row row-section">
      <div class="col">
        <h5>Funcionalidades asociadas <span class="obligatorio"> (*)</span></h5>
      </div>
    </div>
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th class="align-middle">URL</th>
          <th class="align-middle">FUNCIONALIDAD</th>
          <th class="align-middle">SELECCIONAR</th>
        </tr>
      </thead>
      <tbody>
        <tr [formGroup]="funcionalidad" *ngFor="let funcionalidad of funcionalidades.controls;let indice=index">
          <td>{{funcionalidad.get('codigo').value}}</td>
          <td>{{funcionalidad.get('nombre').value}}</td>
          <td>
            <label class="custom-control check-bge-control">
              <input class="check-bge" [attr.id]="'chk_refacciones_'+ indice" type="checkbox"
                     formControlName="seleccionado">
              <span class="check-marcado"></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col">
    <div class="pull-right">
      <a [routerLink]="['/perfiles']" class="btn btn-secondary separador-botones">CANCELAR</a>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">ACEPTAR
      </button>
    </div>
  </div>
</form>
