#titulo_detalle_linea {
  padding: 5px !important;
}

.padding_apoderado {
  padding-top: 2rem;
  padding-left: 1rem;
}

.cuota-ayuda {
  // padding: 3px 3px !important;
  margin-left: 12px;
  font-size: 13px;
}

