form {
  padding-top: 25px;
}

.boton-grilla {
  padding: 0;
}

.boton-grilla i{
  font-size: 26px;
}

#lbl_cb_linea{
  padding-right: 30px;
}

.bottom-buffer{
  margin-bottom: -10px;
}

.spacer5 {
  height: 16px;
}

.spacer10 {
  height: 14px;
}

.checkbox{
  text-decoration-style: solid;
}
.btn-desplegar{
  background-color: transparent;
  margin-left: 8%;
}

.destacar-apoderado{
  color: #ff8257;
  font-size: larger;
}
.margin-resultados{
  margin-top: 7px;
}
.box-linea-formulario {
  margin-bottom: 15px;
  margin-top: 35px;
}
.margin-top-label{
  margin-top: 5%;
}

