<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="sintys_organismo" value="DGBGCBA1" />
    <add key="sintys_usuario" value="AKRAUPLMORG" />
    <add key="sintys_usuarioPassword" value="TMaq63dl6xwuZuw" />
    <add key="sintys_certificado" value="D:\BANCO REPOSITORIO\ULTIMO\banco-de-la-gente\BG\Sintys\SintysWS\Resources\sintys.pfx" />
    <add key="sintys_certificadoPassword" value="qwGKTHoW6w" />
    <add key="sintys_apiUrl" value="https://sapisews.sintys.gob.ar/api/2.1/server.php" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.3.0.0" newVersion="106.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>