<h4>
  REQUISITOS DE LA LÍNEA
</h4>

<div class="card-pane line-divider-bottom" *ngIf="!(requisitosSolicitante.length == 0)">
  <table class="table table-striped table-bordered table-sm">
    <thead>
    <th  width="50%">
      <strong>REQUISITOS SOLICITANTE</strong>
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let requisito of requisitosSolicitante">
      <td width="50%">
        <p align="left">
          <small>{{requisito.descripcion}}</small>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="card-pane" *ngIf="!(requisitosGarante.length == 0)">
  <table class="table table-striped table-bordered table-sm">
    <thead>
    <th width="50%">
      <strong>REQUISITOS GARANTE</strong>
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let requisito of requisitosGarante">
      <td width="50%">
        <p align="left">
          <small>{{requisito.descripcion}}</small>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
