#convenios {
  padding-left: 40px;
}

#monto-seleccionado {
  color: #2db300;
  font-weight: bold;
}

#monto-acumulado {
  font-weight: bold;
  padding-left: 20px;
}

.montos-negrita {
  margin-top: 30px;
  font-weight: bold;
}

.valores-verde {
  color: #2db300;
  font-weight: bold;
}
.valores-rojo {
  color: #b30800;
  font-weight: bold;
}

.spacer {
  height: 10px;
}

