<div class="row align-items-center">
  <div class="col">
    <h4 class="display-4"> MODIFICAR LÍNEA DE MICRO-PRÉSTAMO </h4>
  </div>
</div>


<form [formGroup]="form">
  <div id="registrar_linea" [ngSwitch]="pantallaActual">

    <div *ngSwitchCase="'linea'">
      <div class="line-divider-bottom" style="margin: 0 0 15px 0">
        <h5><strong>Ítems de la línea</strong></h5>
      </div>
    </div>

    <div class="card-pane" *ngSwitchCase="'linea'">
      <bg-linea-items
        [linea]="itemLineaForm"
        (requisitos)="modificarPantalla($event)">
      </bg-linea-items>

      <div class="row row-section">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <label for="btn_requisitos" class="form-control-label">
            Asignar requisitos a la línea de préstamo <span class="obligatorio">(*) </span>
          </label>
          <button class="btn btn-warning boton_requisitos" id="btn_requisitos"
                  (click)="guardarLinea(form.get('itemLineaForm'), 'requisitos')">REQUISITOS
          </button>
        </div>
      </div>
      <div class="row row-section" *ngIf="verOng">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <label for="btn_ong" class="form-control-label padding_labels">
            Asignar ONG a la línea de préstamo<span class="obligatorio"> (*)</span>
          </label>
          <button class="btn btn-warning boton_requisitos"
                  type="button"
                  id="btn_ong"
                  (click)="guardarLinea(form.get('itemLineaForm'), 'ong')">ONG
          </button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'linea'">
      <div class="line-divider-bottom" style="margin: 0 0 15px 0">
        <h5><strong>Archivos de la línea</strong></h5>
      </div>
    </div>

    <div class="card-pane" *ngSwitchCase="'linea'">

      <div class="row">
        <div class="col-lg-6 col-xl-6 row justify-content-center">
          <div class="col-lg-12 col-xl-12 text-center">
            <strong><p> Logo/Imágen cabecera de línea de préstamo <span class="obligatorio">(*) </span>:</p></strong>
          </div>
          <bg-seleccion-archivo
            [accept]="'image/jpeg, image/png'"
            (archivoSeleccionado)="archivoSeleccionadoLogo($event)">
          </bg-seleccion-archivo>

          <div class="row  col-lg-12 col-xl-12 justify-content-center"
               *ngIf="linea.logoCargado && !archivoLogo?.name" style="margin-left: 15px">
            <strong>Archivo importado: </strong><em>{{linea.logoCargado.split("\\").pop()}}</em>
            <a class="btn btn-link" style="padding-top: 3px"
               download="Documento"
               [href]="getUrlDescarga(linea.logoCargado)"
               ngbTooltip="Descargar">
              <i class="material-icons">get_app</i></a>
          </div>
          <div class="row col-lg-12 col-xl-12 justify-content-center" *ngIf="archivoLogo?.name">
            <span><strong>Archivo a importar: </strong><em>{{archivoLogo.name | uppercase}}</em></span>
          </div>
        </div>

        <div class="col-lg-6 col-xl-6 row justify-content-center">
          <div class="col-lg-12 col-xl-12 text-center">
            <strong><p>Firmantes/Imágen pie de línea préstamo <span class="obligatorio">(*) </span>:</p></strong>
          </div>
          <bg-seleccion-archivo
            [accept]="'image/jpeg, image/png'"
            (archivoSeleccionado)="archivoSeleccionadoPiePagina($event)">
          </bg-seleccion-archivo>

          <div class="row col-lg-12 col-xl-12 justify-content-center"
               *ngIf="linea.piePaginaCargado  && !archivoPiePagina?.name" style="margin-left: 15px">
            <strong>Archivo importado: </strong><em>{{linea.piePaginaCargado.split("\\").pop()}}</em>
            <a class="btn btn-link" style="padding-top: 3px"
               download="Documento"
               [href]="getUrlDescarga(linea.piePaginaCargado)"
               ngbTooltip="Descargar">
              <i class="material-icons">get_app</i></a>
          </div>
          <div class="row col-lg-12 col-xl-12 justify-content-center" *ngIf="archivoPiePagina?.name">
            <span><strong>Archivo a importar: </strong><em>{{archivoPiePagina.name | uppercase}}</em></span>
          </div>
        </div>
      </div>
    </div>

    <bg-linea-requisitos
      *ngSwitchCase="'requisitos'"
      [requisitos]="linea.requisitos"
      [esCreacionDeLinea]="false"
      (aceptado)="agregarRequisitos($event)"
      (cancelado)="modificarPantalla('linea')">
    </bg-linea-requisitos>

    <bg-lineas-ong
      *ngSwitchCase="'ong'"
      [lsOngLinea]="linea.lsOng"
      [esModificacion]="true"
      (aceptado)="agregarOng($event)"
      (ongAgregadas)="cargarListaOngAgregadas($event)"
      (ongEliminadas)="cargarListaOngEliminadas($event)"
      (cancelado)="modificarPantalla('linea')">
    </bg-lineas-ong>

    <div class="card-pane card-margin-top" *ngIf="deptoLocalidad">
      <filtro-domicilio-linea
        (departamentosSeleccionados)="guardarDepartamentosSeleccionados($event)"
        (localidadesSeleccionadas)="guardarLocalidadesSeleccionadas($event)"
        [localidadesInit]="localidades"
        [esEditable]="esEditable"
      ></filtro-domicilio-linea>
    </div>

    <div class="row" *ngSwitchCase="'linea'">
      <div class="col">
        <button (click)="prepararLinea()" [disabled]="!esValido()" class="btn btn-primary pull-right">ACEPTAR
        </button>
        <button [routerLink]="['/bandeja-lineas']" class="btn btn-secondary pull-right separador-botones">CANCELAR
        </button>
      </div>
    </div>
  </div>
</form>
