<div class="row bordered align-items-center">
  <div class="col">
    <h1 class="display-4">GESTIÓN DE LOTES PAGOS</h1>
  </div>
  <div class="col-md-2 col-lg-2 col-xl-2">
    <button class="btn btn-warning pull-right"
            [routerLink]="['/pagos']">NUEVO LOTE PAGOS
    </button>
  </div>
</div>

<bg-consulta-bandeja-lotes
  (emitirConsulta)="almacenarConsulta($event)"
  (totalizador)=calcularTotalizador($event)>
</bg-consulta-bandeja-lotes>

<bg-grilla-bandeja-lotes
  [consulta]="consulta"
  [totalizador]="totalizador">
</bg-grilla-bandeja-lotes>
