<div id="row_titulo" class="row row-title line-divider-bottom">
  <div class="col">
    <h4 class="card-title w-75">NECESIDADES DE INVERSIÓN</h4>
    <h6>Detalle los equipos, maquinarias, herramientas, materias primas e insumos a adquirir.</h6>
  </div>
</div>
<!--Mensaje de alerta por falta de emprendimiento-->
<bg-apartado-alerta-emprendimiento-requerido [emprendimiento]="emprendimiento" [marginTop]="true">
</bg-apartado-alerta-emprendimiento-requerido>

<bg-apartado-inversiones-emprendimiento [inversionesRealizadasInput]="necesidadInversion?.inversionesRealizadas"
  (inversionesSalida)="completarLista($event)" (detallesParaBorrar)="completarDetallesParaBorra($event)"
  [editable]="editable" [descripcionTotalResultado]="'Monto total de necesidad de inversión:'">
</bg-apartado-inversiones-emprendimiento>
<form [formGroup]="form" novalidate>
  <div class="card-pane card-margin-top">
    <div class="row">
      <div class="form-group col-lg-3 col-xl-3 col-md-3" [errorFeedback]="form.get('montoMicroprestamo')">
        <label for="txt_cantidad_microprestamo" class="col-form-label">A financiar con Micropréstamo</label>
        <input type="text" class="form-control" id="txt_cantidad_microprestamo" formControlName="montoMicroprestamo">
        <control-messages [control]="form.get('montoMicroprestamo')"></control-messages>
      </div>
      <div class="form-group col-lg-3 col-xl-3 col-md-3" [errorFeedback]="form.get('montoCapitalPropio')">
        <label for="txt_cantidad_capital_propio" class="col-form-label">Aportes de capital propio</label>
        <input type="text" class="form-control" id="txt_cantidad_capital_propio" formControlName="montoCapitalPropio">
        <control-messages [control]="form.get('montoCapitalPropio')"></control-messages>
      </div>
      <div style="padding-top: 0.45%" class="form-group col-lg-3 col-xl-3"
        [errorFeedback]="form.get('idFuenteFinanciamiento')">
        <label for="cmb_otra_fuente">Otra fuente de financiamiento</label>
        <select id="cmb_otra_fuente" class="form-control" formControlName="idFuenteFinanciamiento">
          <option value="null">Seleccione</option>
          <option *ngFor="let fuenteFinanciamiento of fuentesFinanciamiento" [ngValue]="fuenteFinanciamiento.id">
            {{fuenteFinanciamiento.descripcion | uppercase}}
          </option>
        </select>
        <control-messages [control]="form.get('idFuenteFinanciamiento')"></control-messages>
      </div>
      <div *ngIf="habilitarOtraFuente" class="form-group col-lg-3 col-xl-3 col-md-3"
        [errorFeedback]="form.get('montoOtrasFuentes')">
        <label for="txt_cantidad_otra_fuente" class="col-form-label">Cantidad otra fuente<span class="obligatorio">
            (*)</span></label>
        <input type="text" class="form-control" id="txt_cantidad_otra_fuente" formControlName="montoOtrasFuentes">
        <control-messages [control]="form.get('montoOtrasFuentes')"></control-messages>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="col-form-label pull-right">Total de ingresos:
          <b>{{sumarMontos() | currency:'ARS':true:'1.2-2'}}</b></label>
      </div>
    </div>
  </div>
</form>
