<div class="row bordered align-items-center">
  <div class="col">
    <h1 class="display-4">EDITAR USUARIO</h1>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="modificarUsuario()">
  <div class="card-pane">
    <div class="row">
      <div class="form-group col-md-3 col-lg-3 col-xl-3">
        <label for="txt_nombre">Nombre</label>
        <input type="text" id="txt_nombre" class="form-control"
               [value]="usuario.nombre" readonly>
      </div>
      <div class="form-group col-md-3 col-lg-3 col-xl-3">
        <label for="txt_apellido">Apellido</label>
        <input type="text" id="txt_apellido" class="form-control"
               [value]="usuario.apellido"
               readonly>
      </div>
      <div class="form-group col-md-3 col-lg-2 col-xl-2">
        <label for="txt_cuil">CUIL</label>
        <input type="text" id="txt_cuil" class="form-control"
               [value]="usuario.cuil" readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xl-6 col-lg-6"
           [errorFeedback]="form.get('perfilId')">
        <label for="cb_perfil" class="form-control-label">Perfil asociado <span class="obligatorio">(*) </span>:</label>
        <select id="cb_perfil"
                class="form-control"
                formControlName="perfilId">
          <option value=""> Seleccione</option>
          <option *ngFor="let perfil of perfiles" [ngValue]="perfil.id">
            {{perfil.nombre | uppercase}}
          </option>
        </select>
        <control-messages [control]="form.get('perfilId')"></control-messages>
      </div>
    </div>

  </div>

  <div class="col">
    <div class="pull-right">
      <a [routerLink]="['/usuarios']" class="btn btn-secondary">CANCELAR</a>
      <button type="submit" class="btn btn-primary">ACEPTAR
      </button>
    </div>
  </div>
</form>
