<div class="modal-header">
  <h4 class="modal-title">RECHAZAR FORMULARIOS QUE CONFORMAN EL PRÉSTAMO</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row align-items-center">
    <div class="col">
      <h4>Formularios a rechazar</h4>
    </div>
  </div>

  <form [formGroup]="form">
    <table class="table table-bordered">
      <tr>
        <th class="align-middle">LÍNEA</th>
        <th class="align-middle">N° PRÉSTAMO</th>
        <th class="align-middle">APELLIDO Y NOMBRE</th>
        <th class="align-middle">CUIL</th>
        <th class="align-middle">ESTADO</th>
      </tr>
      <tbody>
      <tr [formGroup]="integrante" *ngFor="let integrante of integrantesForm.controls; let indice = index">
        <td class="align-middle">{{integrante.get('nroLinea').value}}</td>
        <td class="align-middle">{{integrante.get('nroPrestamo').value}}</td>
        <td class="align-middle">{{integrante.get('nomApe').value}}</td>
        <td class="align-middle">{{integrante.get('cuil').value}}</td>
        <td class="align-middle">{{integrante.get('estadoForm').value}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row align-items-end">
      <div class="col-md-10 col-lg-10 col-xl-10 justify-content-center">
        <label for="ddl_motivo_rechazo">Motivo rechazo </label><span class="obligatorio">(*)</span>
        <ng-select id="ddl_motivo_rechazo"
                   [dataSource]="{list: motivosRechazo, name:'descripcion', id:'id'}"
                   formControlName="idMotivoRechazo"
                   [clientMode]="true">
        </ng-select>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2">
        <button type="button" class="btn btn-primary pull-right" (click)="agregarMotivo()"> AGREGAR
        </button>
      </div>
    </div>

    <div class="row" style="margin-top: 15px">
      <div class="col justify-content-center" [errorFeedback]="form.get('observaciones')">
        <label for="txt_observaciones" class="form-control-label">Observaciones</label>
        <input type="text" class="form-control" id="txt_observaciones" formControlName="observaciones">
        <control-messages [control]="form.get('observaciones')"></control-messages>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col justify-content-center">
        <label for="txt_numeroCaja" class="form-control-label">Número de caja </label><span class="obligatorio">(*)</span>
        <input type="text" class="form-control" id="txt_numeroCaja" formControlName="numeroCaja">
        <control-messages [control]="form.get('numeroCaja')"></control-messages>
      </div>
    </div>
    <div [hidden]="!motivosSeleccionados.length" class="row tabla-observaciones" style="margin-left: 15px; margin-right: 15px;">
      <table class="table table-bordered table-striped table-sm table-adjust">
        <thead>
        <th>Motivo de Rechazo</th>
        <th>Observaciones</th>
        <th>Acciones</th>
        </thead>
        <tbody>
        <tr *ngFor="let motivo of motivosSeleccionados; let primero = first">
          <td
            [ngClass]="{'primero': primero, 'line-divider-top': primero}">
            <div class="col"> {{motivo.descripcion}}</div>
          </td>
          <td [ngClass]="{'primero': primero, 'line-divider-top': primero}"
              class="td-adjust">
            <div class="col"> {{motivo.observaciones}}</div>
          </td>
          <td
            [ngClass]="{'primero': primero, 'line-divider-top': primero}">
            <button type="button" class="btn btn-link" (click)="quitarMotivo(motivo.id)"
                    ngbTooltip="Quitar"><i class="material-icons">clear</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelar()">CANCELAR</button>
  <button type="button" class="btn btn-primary pull-right" (click)="rechazarFormularios()"
          [disabled]="!motivosSeleccionados.length || !this.form.valid">ACEPTAR
  </button>
</div>
