<div class="row bordered align-items-center">
  <div class="col">
    <h4 class="display-4">VER ETAPA</h4>
  </div>
</div>

<div class="card-pane card-view-detail">
  <div class="row">
    <div class="form-group col-lg-5 col-xl-5">
      <label for="txt_nombre_area">Nombre</label>
      <input type="text" id="txt_nombre_area" class="form-control" [value]="etapa.nombre" readonly>
    </div>
    <div class="form-group col-lg-12 col-xl-8">
      <label for="txt_descripcion_area">Descripción</label>
      <textarea type="text" id="txt_descripcion_area" class="form-control" rows="3" [value]="etapa.descripcion"
        readonly>
    </textarea>
    </div>
  </div>
</div>
<div class="card-pane" *ngIf="etapa.estaDadaDeBaja()">
  <fieldset>
    <legend>Datos de la baja</legend>

    <div class="row row-section">
      <div class="form-group col-lg-3 col-xl-3">
        <label for="txt_fecha_baja" class="form-control-label">Fecha de baja</label>
        <input type="text" id="txt_fecha_baja" class="form-control"
          [value]="etapa.fechaUltimaModificacion | date:'dd/MM/yyyy'" readonly>

      </div>
      <div class="form-group col-lg-5 col-xl-5">
        <label for="txt_usuario" class="form-control-label">Usuario de última modificación</label>
        <input type="text" id="txt_usuario" class="form-control" [value]="etapa.cuilUsuarioUltimaModificacion" readonly>
      </div>
      <div class="form-group col-lg-12 col-xl-8">
        <label for="txt_motivo_baja" class="form-control-label">Motivo de baja</label>
        <textarea id="txt_motivo_baja" class="form-control" type="text" rows="3" [value]="etapa.nombreMotivoBaja"
          readonly></textarea>
      </div>
    </div>
  </fieldset>
</div>
<div id="row_acciones" class="row">
  <div class="col">
    <div class="pull-right">
      <a [routerLink]="['/etapas']" class="btn btn-secondary">VOLVER
      </a>
    </div>
  </div>
</div>
