<div class="row align-items-center">
  <div class="col">
    <h4 class="display-4">VER LÍNEA DE PRÉSTAMO</h4>
  </div>
</div>
<div class="row row-section line-divider-bottom">
  <div class="col">
    <h5><strong>Datos de la línea</strong></h5>
  </div>
</div>

<div class="card-pane" style="margin-top: 15px;">
  <div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 form-inline">
      <label for="conOng" class="form-control-label" style="padding-right: 10px"> ¿Trabaja con ONG?
      </label>
      <input type="text" id="conOng" style="width: 50px;" class="form-control text-center"
             [value]="lineaPrestamo.conOng ? 'SI' : 'NO'" disabled>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3 form-inline">
      <label for="conCurso" class="form-control-label" style="padding-right: 10px"> ¿Requiere curso de capacitación?
      </label>
      <input type="text" id="conCurso" style="width: 50px;" class="form-control text-center"
             [value]="lineaPrestamo.conCurso ? 'SI' : 'NO'" disabled>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3 form-inline">
      <label for="conPrograma" class="form-control-label" style="padding-right: 10px"> ¿Trabaja con algún programa de
        gobierno?
      </label>
      <input type="text" id="conPrograma" style="width: 50px;" class="form-control text-center"
             [value]="lineaPrestamo.conPrograma ? 'SI' : 'NO'" disabled>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3 form-inline">
      <label for="programa" class="form-control-label" style="padding-right: 10px"> Programas</label>
      <input type="text" id="programa" class="form-control text-center"
             [value]="lineaPrestamo.nombrePrograma !='' ? lineaPrestamo.nombrePrograma : 'SIN PROGRAMA'" disabled>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 form-inline">
      <label for="deptoLocalidad" class="form-control-label" style="padding-right: 10px"> ¿Trabaja con departamento y localidad?
      </label>
      <input id="deptoLocalidad" type="text" style="width: 50px;"
             class="form-control text-center"
             [value]="lineaPrestamo.deptoLocalidad ? 'SI' : 'NO'" disabled>
    </div>
  </div>


  <div class="row" style="padding-top: 15px">
    <div class="col-xl-4 col-lg-4 col-md-4 form-group">
      <label for="txt_nombre_linea" class="form-control-label"> Nombre de la línea
      </label>
      <input type="text" id="txt_nombre_linea" class="form-control" [value]="lineaPrestamo.nombre" disabled>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 form-group">
      <label for="cb_destinatario" class="form-control-label"> Destinatario
      </label>
      <input type="text" id="cb_destinatario" class="form-control" [value]="lineaPrestamo.nombreSexoDestinatario"
             disabled>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 form-group">
      <label for="cb_motivo_destino" class="form-control-label"> Motivo destino
      </label>
      <input type="text" id="cb_motivo_destino" class="form-control" [value]="lineaPrestamo.nombreMotivoDestino"
             disabled>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <label for="txt_descripcion_linea" class="form-control-label"> Descripción de la línea
      </label>
      <textarea id="txt_descripcion_linea" type="text" class="form-control" [value]="lineaPrestamo.descripcion" rows="2"
                disabled></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <label for="txt_objetivo_linea" class="form-control-label"> Objetivo
      </label>
      <textarea id="txt_objetivo_linea" type="text" class="form-control" [value]="lineaPrestamo.objetivo" rows="2"
                disabled></textarea>
    </div>
  </div>

  <div class="row align-middle">
    <div class="col-xl-6 col-lg-6 col-md-6 form-group">
      <label for="txt_color_linea" class="form-control-label" style="padding-right: 10px;">
        Color representativo de la línea de préstamo
      </label>
      <button type="button" class="btn btn-default btn-lg" style="border: 1px solid; border-radius: 10px"
              [style.background]="lineaPrestamo.color" id="txt_color_linea" disabled></button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 form-group">
      <button class="btn btn-warning btn_modal" id="btn_ong" (click)="mostrarOng()" *ngIf="lineaPrestamo.conOng">VER
        ONG
      </button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 form-group">
      <button class="btn btn-warning btn_modal" (click)="mostrarRequisitos()">VER
        REQUISITOS
      </button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 form-group">
      <button class="btn btn-warning btn_modal" id="btn_logo" (click)="mostrarArchivos()">VER ARCHIVOS
      </button>
    </div>
  </div>
</div>
<div class="card-pane card-margin-top" *ngIf="deptoLocalidad">
  <filtro-domicilio-linea
    (departamentosSeleccionados)="guardarDepartamentosSeleccionados($event)"
    (localidadesSeleccionadas)="guardarLocalidadesSeleccionadas($event)"
    [localidadesInit]="localidades"
    [esEditable]="esEditable"
  ></filtro-domicilio-linea>
</div>
<div class="row row-section line-divider-bottom">
  <div class="col">
    <h5><strong>Detalle de la línea seleccionada</strong></h5>
  </div>
</div>


<div class="card-pane" style="margin-top: 15px;">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-middle">INTEGRANTES SOCIOS</th>
      <th class="align-middle">MONTO TOPE SOCIO INTEGRANTE</th>
      <th class="align-middle">MONTO PRESTABLE</th>
      <th class="align-middle">CANT. MIN-MAX INTEGRANTES</th>
      <th class="align-middle">TIPO FINANCIAMIENTO</th>
      <th class="align-middle">PLAZO DEVOLUCIÓN MÁXIMO</th>
      <th class="align-middle">VALOR ESTIMADO CUOTA SOLIDARIA</th>
      <th class="align-middle">GARANTÍA</th>
      <th class="align-middle">CONVENIOS PAGO</th>
      <th class="align-middle">CONVENIO RECUPERO</th>
      <th class="align-middle">FECHA BAJA</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let detalle of detalleLinea">
      <td class="align-middle">{{detalle.nombreSocioIntegrante}}</td>
      <td class="align-middle">{{detalle.montoTope != 0 ? detalle.montoTope : 'N/A'}}</td>
      <td class="align-middle">{{detalle.montoPrestable}}</td>
      <td class="align-middle">{{detalle.cantidadMinimaIntegrantes}} - {{detalle.cantidadMaximaIntegrantes}}</td>
      <td class="align-middle">{{detalle.nombreTipoFinanciamiento}}</td>
      <td class="align-middle">{{detalle.plazoDevolucion}}</td>
      <td class="align-middle">{{detalle.valorCuotaSolidaria}}</td>
      <td class="align-middle">{{detalle.nombreTipoGarantia}}</td>
      <td class="align-middle">{{detalle.nombreConvPag}}</td>
      <td class="align-middle">{{detalle.nombreConvRec}}</td>
      <td class="align-middle">{{detalle.fechaBaja ?
        (detalle.fechaBaja | date:'dd/MM/yyyy') : ''}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="row line-divider-bottom" *ngIf="lineaPrestamo.fechaBaja" style="margin-top: 15px; !important;">
  <div class="col">
    <h5><strong>Datos de la baja</strong></h5>
  </div>
</div>
<div class="card-pane" *ngIf="lineaPrestamo.fechaBaja" style="margin-top: 15px !important;">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <label for="txt_fecha_baja" class="form-control-label"> Fecha de Baja
      </label>
      <input type="text" id="txt_fecha_baja" class="form-control" [value]="lineaPrestamo.fechaBaja | date:'dd/MM/yyyy'"
             disabled>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6">
      <label for="txt_motivo_baja" class="form-control-label"> Motivo de baja
      </label>
      <input type="text" id="txt_motivo_baja" class="form-control" [value]="lineaPrestamo.nombreMotivoBaja" disabled>
    </div>
  </div>
</div>

<div class="row row-section line-divider-bottom">
  <div class="col">
    <h5><strong>Datos de última modificación</strong></h5>
  </div>
</div>

<div class="card-pane" style="margin-top: 15px">
  <div class="row row-section">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <label for="txt_fecha_ult_modificacion" class="form-control-label"> Fecha última modificación
      </label>
      <input type="text" id="txt_fecha_ult_modificacion" class="form-control"
             [value]="lineaPrestamo.fechaUltimaModificacion | date:'dd/MM/yyyy'" disabled>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <label for="txt_usuario" class="form-control-label"> Usuario última modificación
      </label>
      <input type="text" id="txt_usuario" class="form-control" [value]="lineaPrestamo.nombreUsuario" disabled>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <a [routerLink]="['/bandeja-lineas']" class="btn btn-secondary pull-right">VOLVER
    </a>
  </div>
</div>
