<div class="row paginacion">
  <div class="col-0 mr-auto">
    <button type="button"
            [disabled]="paginaActual==0"
            (click)="obtenerPagina(anterior())"
            class="btn btn-info btn-anterior">
      {{mensajeAnterior}}
    </button>
  </div>
  <div class="col-0">
    <button type="button"
            [disabled]="ultimaPagina"
            (click)="obtenerPagina(siguiente())"
            class="btn btn-info btn-siguiente">{{mensajeSiguiente}}
    </button>
  </div>
</div>
