#row_firma {
  padding-top: 40px;
  width: 100%;
}

#fondo_notas {
  background-color: #dddddd;
  width: 100%;
  font-weight:bold
}

#aclaraciones {
  background-color: #dddddd;
  width: 100%;
}

#fondo_garante {
   background-color: #dddddd;
   width: 100%;
 }

#fondo_solicitante {
  background-color: #dddddd;
  width: 100%;
}

#row-contacto {
  background-color: black;
  color: white;
  width: 100%;
}

#contacto {
  font-weight:bold
}

#garante {
  font-weight:bold
}

#solicitante {
  font-weight:bold
}

