<div class="row row-section">
  <p id="fondo_notas">
    Los datos ingresados en la presente solicitud revisten el carácter de Declaración Jurada y no pueden ser falseados
    ni omitidos, bajo apercibimiento de lo dispuesto en los artículos 172 y 292 del Código Penal para los delitos de
    estafa y falsificación de documentos
  </p>
</div>

<div class="row">
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ....................................................
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ....................................................
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ....................................................
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ...................................................
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      Firma solicitante
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      Firma cónyuge solicitante
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      Firma garante
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      Firma cónyuge garante
    </div>
  </div>
</div>

<div class="row" id="row_firma">
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ....................................................
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ....................................................
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ....................................................
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      ....................................................
    </div>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-md-3 col-xl-2 col-lg-3 align-items-center">
    <div class="text-center">
      Aclaración solicitante
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      Aclaración cónyuge solicitante
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      Aclaración garante
    </div>
  </div>
  <div class="col-md-3 col-xl-2 col-lg-3">
    <div class="text-center">
      Aclaración cónyuge garante
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xl-6 col-lg-6" id="fondo_solicitante">
    <div class="row" id="solicitante">
      SOLICITANTE
    </div>
    <p>
      1) El/la solicitante debe ser una persona hábil mayor de edad (18 años cumplidos) y menor de 70 años.<br>
      2) Fotocopia del DNI del solicitante, del cónyuge y del grupo familiar.<br>
      3) Fotocopia del impuesto o servicio donde conste domicilio (impuesto inmobiliario Provincial o Municipal, Luz,<br>
      Agua, Gas, Tel. fijo, TV cable, sin excepción).<br>
      4) No estar afiliado a APROSS. Presentar negativa de la Obra Social.<br>
      5) Presentar certificado de Escolaridad de hijos a cargo.<br>
      6) No tener deudas por créditos del Gobierno de la Provincia de Córdoba.<br>
      7) No haber sido beneficiario de subsidios provinciales en los últimos 12 meses.<br>
      8) Presentar fotocopia del carnet de CIDI (Ciudadano Digital - Gobierno de la Provincia de Córdoba)
    </p>
  </div>
  <div class="col-md-6 col-xl-6 col-lg-6" id="fondo_garante">
    <div class="row" id="garante">
      GARANTE
    </div>
    <p>
      1) Ser persona hábil mayor de edad (18 años cumplidos) y menor de 70 años.<br>
      2) Fotocopia del DNI del garante y del cónyuge.<br>
      3) Fotocopia del impuesto o servicio donde conste domicilio (impuesto inmobiliario Provincial o Municipal, Luz,
      Agua, Gas, Tel. fijo, TV cable, sin excepción).<br>
      4) Fotocopia de recibo de sueldo o certificado original de ingresos netos expedido por el Consejo Profesional de
      Ciencias Económicas.
    </p>
  </div>

    <div id="aclaraciones">
      <p>
        Tanto el titular como el garante deben tener domicilio dentro de la Provincia de Córdoba. Los trámites que se
        realicen frente a estas instituciones para este programa son totalmente gratuito.
      </p>
    </div>

    <div id="row-contacto" class="col-md-12 col-xl-12 col-lg-12">
      <p id="contacto">
        Contacto: Banco de la Gente - Av. Juan B. Justo 3600 CP X5001GYN - Tel.: (00 54 351) 432-2900 int.2045 7 2056 -
        bancodelagente@cba.goc.ar
      </p>
    </div>

</div>

