<div class="row bordered align-items-center">
  <div class="col">
    <h4 class="display-4">VER ÍTEM</h4>
  </div>
</div>

<div class="card-pane card-view-detail">
  <div class="row row-section">
    <div class="form-group col-lg-5 col-xl-5">
      <label for="txt_nombre_area" class="form-control-label">Nombre</label>
      <input type="text" id="txt_nombre_area" class="form-control" [value]="item.nombre" disabled>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-12 col-xl-8">
      <label for="txt_descripcion_area" class="form-control-label">Descripción</label>
      <textarea id="txt_descripcion_area" class="form-control" type="text" rows="3"
        disabled>{{item.descripcion}}</textarea>
    </div>
  </div>

  <div class="row row-section">
    <div *ngFor="let tipoItem of tiposItem" class=" col-md-3 col-lg-2 col-xl-2">
      <div class="form-check">
        <label for="chk_tipos_item" class="custom-control check-bge-control">
          <input id="chk_tipos_item" type="checkbox" class="check-bge" [checked]="tipoItem.esSeleccionado"
            [disabled]="true">
          <span class="check-marcado"></span>
          <span class="custom-control-description">{{tipoItem.nombre}}</span>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="card-pane" *ngIf="esChecklist">
  <div class="row align-items-center">
    <div class="form-check col-lg-2 col-xl-2">
      <label [attr.for]="'ck_es_item_padre'" class="custom-control check-bge-control">
        <input [attr.id]="'ck_es_item_padre'" type="checkbox" class="check-bge" [checked]="!!(item.idItemPadre)"
          [disabled]="true" />
        <span class="check-marcado"></span>
        <span class="custom-control-description">¿Es sub-item?</span>
      </label>
    </div>

    <div class="form-group col-lg-7 col-xl-7" *ngIf="!!item.idItemPadre">
      <label for="tx_item_padre">Ingresar de qué item depende</label>
      <select id="tx_item_padre" class="form-control" [value]="item.idItemPadre ? item.idItemPadre : null "
        [disabled]="true">
        <option value="null">
          {{'Seleccionar'}}
        </option>
        <option [value]="item.idItemPadre">
          {{item.nombreItemPadre | uppercase}}
        </option>
      </select>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="form-check col-lg-2 col-xl-2">
      <label [attr.for]="'ck_es_item_link'" class="custom-control check-bge-control">
        <input [attr.id]="'ck_es_item_link'" type="checkbox" class="check-bge" [checked]="!!item.idRecurso"
          [disabled]="true" />
        <span class="check-marcado"></span>
        <span class="custom-control-description">¿Es un link de opción?</span>

      </label>
    </div>
    <div class="form-group col-lg-7 col-xl-7" *ngIf="!!item.idRecurso">
      <label for="tx_item_link">Ingresar URL</label>
      <select id="tx_item_link" class="form-control" [value]="item.idRecurso ? item.idRecurso : null "
        [disabled]="true">
        <option value="null">
          {{'Seleccionar'}}
        </option>
        <option [value]="item.idRecurso">
          {{item.urlRecurso}}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="card-pane">
  <fieldset>
    <legend>Gestión de archivos</legend>
    <div class="row row-section">
      <div class=" col-md-3 col-lg-3 col-xl-3">
        <div class="form-check">
          <label class="custom-control check-bge-control" for="chk_genera_archivo">
            <input id="chk_genera_archivo" type="checkbox" class="check-bge" [checked]="!!(item.generaArchivo)"
              disabled />
            <span class="check-marcado"></span>
            <span class="custom-control-description">GENERA ARCHIVO SISTEMA</span>
          </label>
        </div>
      </div>

      <div class=" col-md-3 col-lg-3 col-xl-3">
        <div class="form-check">
          <label class="custom-control check-bge-control" for="chk_sube_archivo">
            <input id="chk_sube_archivo" type="checkbox" class="check-bge" [checked]="!!(item.subeArchivo)" disabled />
            <span class="check-marcado"></span>
            <span class="custom-control-description">SUBE ARCHIVO</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group col-xl-6 col-lg-6 col-md-6">
      <label for="txt_tipo_documentacion">Tipo documentación CDD</label>
      <input type="text" id="txt_tipo_documentacion" class="form-control"  [value]="item.descripcionTipoDocumentacion"
        disabled>
    </div>
  </fieldset>
</div>

<div class="card-pane" *ngIf="item.estaDadaDeBaja()">
  <fieldset>
    <legend>Datos de la baja</legend>
    <div class="row row-section">
      <div class="form-group col-lg-3 col-xl-3">
        <label for="txt_fecha_baja" class="form-control-label">Fecha de baja</label>
        <input id="txt_fecha_baja" class="form-control" type="text"
          [value]="item.fechaUltimaModificacion | date:'dd/MM/yyyy'" disabled>

      </div>
      <div class="form-group col-lg-5 col-xl-5">
        <label for="txt_usuario" class="form-control-label">Usuario de última modificación</label>
        <input type="text" id="txt_usuario" class="form-control"  [value]="item.cuilUsuarioUltimaModificacion" disabled>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12 col-xl-8">
        <label for="txt_motivo_baja" class="form-control-label">Motivo de baja</label>
        <textarea id="txt_motivo_baja" class="form-control" type="text" rows="3"
          disabled>{{item.nombreMotivoBaja}}</textarea>
      </div>
    </div>
  </fieldset>
</div>
<div id="row_acciones" class="row">
  <div class="col">
    <div class="pull-right">
      <a [routerLink]="['/items']" class="btn btn-secondary">VOLVER
      </a>
    </div>
  </div>
</div>
