.alerta-emprendimiento{
  border-radius: 8px;
}

.columna-detalle-fijos {
   width: 60%;
 }
.columna-monto {
  width: 20%;
}

.columna-detalle-variables {
  width: 60%;
}

.columna-monto2 {
  width: 50%;
}

.ocupatodo {
  height: 100%;
}

.icono {
  font-size: 24px;
}

.card-body {
  padding: 0px !important;
}
