<div id="row_titulo" class="row row-title line-divider-bottom">
  <div class="col">
    <strong>
      <h4 class="card-title w-75">DESCRIPCIÓN DEL PROYECTO
      </h4>
    </strong>
  </div>
</div>

<div class="card-pane card-margin-top" [formGroup]="form">
  <div class="row">
    <div class="col">
      <strong>AGREGAR / ANEXAR carpeta de presentación y anexos que considere útiles y necesarios para la evaluación</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>(Describir las características del emprendimiento, proceso de producción del bien o servicio, mercado, estimación de ventas, fortalezas, debilidades, oportunidades, amenazas, fotografías, etc.). Para micropréstamos asociativos, todos los integrantes deberán presentar un único proyecto conjunto, en el que expresarán cómo se organizarán para el trabajo, firmado por cada uno de los integrantes. Sin excepción.</p>
    </div>
  </div>
</div>





