<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cidi" type="Infraestructura.Core.CiDi.Configuration.Sections.CidiSection" allowLocation="true" allowDefinition="Everywhere" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!-- Default style appender. You can change the name but make sure you reference it corectly. Change the type if you're using .NET 4.0 -->
    <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>

      <!-- You can also use scheme, user, password here if you need https and http authentication, see the docs -->
      <connectionString value="Server=172.16.18.212;Index=log;Port=9200;rolling=true" />

      <!-- false means do not eject older messages when the buffer is full, try to keep them all. -->
      <lossy value="true" />
      <Fix value="0" />
      <!-- Any buffer > 1 will use the Elasticsearch _bulk API. Tune as needed depending on how high volume your app is and how fast you want messages to show up in ES -->
      <bufferSize value="100" />

      <!-- When an event comes in that matches or is above the treshold, the buffer will flush. I don't reccommend setting to "ALL" or it will defeat the purpose of having a buffer -->
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
    </appender>

    <!-- Common to all log4net configs. See log4net docs for more details  -->
    <root>
      <level value="ALL" />
      <appender-ref ref="ElasticSearchAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="Environment" value="DEBUG" />
    <add key="core:di:" value="false" />
    
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="RutaDescargaLogo" value="LineasPrestamo/DescargarLogo" />
    <add key="credenciales-api-documentos-cdd:id-app-origen" value="1019" />
    <add key="credenciales-api-documentos-cidi:password" value="4_g3n7e_test" />
    <add key="credenciales-api-documentos-cidi:key" value="HA1VN3VIZXVCIP6753T6NNRLK63SUWDQ" />
    <add key="sintys_organismo" value="DGBGCBA1" />
    <add key="sintys_usuario" value="AKRAUPLMORG" />
    <add key="sintys_usuarioPassword" value="TMaq63dl6xwuZuw" />
    <add key="sintys_certificado" value="Resources/sintys.pfx" />
    <add key="sintys_certificadoPassword" value="qwGKTHoW6w" />
    <add key="sintys_apiUrl" value="https://apisews.sintys.gob.ar/api/2.1/server.php" />
    <add key="db:owner" value="" />
    <add key="ProxyUrl" value="" />

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="8097151" maxQueryStringLength="500000" maxUrlLength="510000" />
    <globalization culture="es-AR" />
  </system.web>
  <connectionStrings>

    
     <!--<add name="DB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=172.16.10.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=gobcbatest)));User id=banco_gente;Password=banco_gente;"/>-->
         <add name="DB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=172.16.10.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=gobcba)));User id=banco_gente;Password=banco_desarrolla;" />
    <!--<add name="DB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=10.250.11.7)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=CBA1D)));User id=banco_gente;Password=banco_cbad12c;"/>-->
     <!--<add name="DB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=172.16.10.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=gobcbatest)));User id=banco_gente_test_2;Password=banco_gente_test_2;"/>-->
  </connectionStrings>
  <!--Credenciales Banco de la Gente-->
  <cidi env="environment">
    <environments>
      <environment name="environment" id_application="189" client_secret="b4nc0_63nte" client_key="B3078757A366F65316F4D4E525A74686D36623854" env_prod="false">
        <endpoints>
          <endpoint key="IniciarSesion" value="https://cidi.test.cba.gov.ar/Cuenta/Login" />
          <endpoint key="CerrarSesion" value="https://cidi.test.cba.gov.ar/Cuenta/CerrarSesion" />
          <endpoint key="CidiUrlApiCuenta" value="https://cuentacidi.test.cba.gov.ar/" />
          <endpoint key="CidiUrlApiComunicacion" value="https://comunicacioncidi.test.cba.gov.ar/" />
          <endpoint key="CidiUrlApiDocumentacion" value="https://documentacioncidi.test.cba.gov.ar/" />
          <endpoint key="CidiUrlApiMobile" value="https://mobilecidi.test.cba.gov.ar/" />
          <endpoint key="CidiUrlRelacion" value="https://cidi.test.cba.gov.ar/relacion/appseleccion" />
          <endpoint key="CidiUrlDocumentosCdd" value="https://apidocumentoscdd.test.cba.gov.ar/" />
        </endpoints>
      </environment>
    </environments>
  </cidi>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <!--<remove name="optionsverbhandler" />-->
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="500000" maxUrl="510000" maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyidentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyidentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyidentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyidentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyidentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyidentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyidentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyidentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyidentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.3.0.0" newVersion="106.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
